#
# This is the default config file. It allows all users to do anything,
# so don't use it on production systems.
#
# Look here for more config file examples:
# https://github.com/rlidwka/sinopia/tree/master/conf
#

# path to a directory with all packages
storage: {{ salt['pillar.get']('sinopia:sinopia_storage_dir', '') }}

auth:
  htpasswd:
    file: {{ salt['pillar.get']('sinopia:sinopia_conf_dir', '') }}/users
    # Maximum amount of users allowed to register, defaults to "+inf".
    # You can set this to -1 to disable registration.
    #max_users: 1000

# a list of other known repositories we can talk to
uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  '@*/*':
    # scoped packages
    access: $all
    publish: $authenticated

  '*':
    # allow all users (including non-authenticated users) to read and
    # publish all packages
    #
    # you can specify usernames/groupnames (depending on your auth plugin)
    # and three keywords: "$all", "$anonymous", "$authenticated"
    access: $all

    # allow all known users to publish packages
    # (anyone can register by default, remember?)
    #publish: $authenticated
    publish: {{ salt['pillar.get']('sinopia:sinopia_user_allow_publish', '') }}

    # if package is not available locally, proxy requests to 'npmjs' registry
    proxy: {{ salt['pillar.get']('sinopia:sinopia_proxy_repo', '') }}

# log settings
logs:
  - {type: file, path: {{ salt['pillar.get']('sinopia:sinopia_logs_dir', '') }}/sinopia.log, level: http}

#url_prefix: http://{{ salt['pillar.get']('sinopia:sinopia_host', '') }}/

listen:
  - 127.0.0.1:{{ salt['pillar.get']('sinopia:sinopia_port', '') }}


