{% set pillar_get = salt['pillar.get'] -%}

{% set node = salt['grains.filter_by']({
    'Debian': {
        'node_pkg': 'nodejs' if grains['osrelease']|float < 8 or pillar_get('node:install_from_ppa') else 'nodejs-legacy',
        'npm_pkg': 'nodejs' if pillar_get('node:install_from_ppa') else 'npm',
    },
    'Ubuntu': {
        'node_pkg': 'nodejs',
        'npm_pkg': 'nodejs' if pillar_get('node:install_from_ppa') else 'npm',
    },
}, grain='os', merge=pillar_get('node:lookup')) %}

{% set sinopia = salt['grains.filter_by']({
    'Debian': {
        'pkg_name': 'sinopia',
        'service': 'sinopia',
    },
    'Ubuntu': {
        'pkg_name': 'sinopia',
        'service': 'sinopia',
    },
}, grain='os', merge=pillar_get('sinopia:lookup')) %}

